

html {
  scroll-behavior: smooth;
}
body {
  margin: 0 auto;
  font-family: 'Poppins';
}

.page-wrapper {
  width: 100%;
  height: 100%;
  margin: 0;
}
.nav-container {
  display: none;
  position: fixed;
  width: 100%;
  height: 50px;
  box-shadow: 0px 5px 8px 0px #555555;
  top: 0;
  z-index: 1;
  align-items: center;
  justify-content: center;
  background-color: #f1f1ba;
}
.menu-items {
  display: flex;
  width: 80%;
  height: 50px;
  padding-top: 10px;
  align-items: center;
  justify-content: right;
}
.menu-img {
  object-fit: fill;
  width: 100%;
  margin: 0;
  height: auto;
}
.burger-icon {
  padding: 10px;
  padding-top: 15px;
  padding-left: 50px;
}
#nav-container {
  transition: 0.4s;
}

#rest-logo #arabic #english #language-links{
  transition: 0.3s;
}
#rest-logo {
  margin-top: 20px;
  margin-left: 15%;
}
ul {
  margin: 0;
  display: flex;
  position: fixed;
  align-items: center;
}
.menu-items-bur {
  text-decoration: none;
  color: black;
  font-size: 10px;
}
a.menu-bur:hover {
  text-decoration: underline;
}
a {
  color: black;
}
#arabic {
  display: none;
}
.language-links {
  display: flex;
  margin-bottom: 20px;
  margin-left: 20%;
  width: 100%;
  align-items: center;
}
.about-pics {
  object-fit: cover;
  width: 25%;
  height: auto;
}
.rest-socials {
  display: flex;
  float: right;
  width: 30%;
  justify-content: right;
  align-items: center;
}
.twitter-container {
  width: 400px !important;
  height: 650px;
  overflow-y: scroll;
}
.about-container {
  display: flex;
  position: relative;
  width: 100%;
  height: 550px;
  box-shadow: 0px 5px 8px 0px #555555;
}
.menu-social-container {
  display: flex;
  position: relative;
  float: left;
  left: 0;
  width: 100%;
  height: 700px;
  box-shadow: 0px 5px 8px 0px #555555;
}
.menu-wrapper{
  display: grid;
  position: relative;
  width: 50%;
  left: 0;
}
.menu-bur {
  display: flex;
  padding: 10px;
  border-top: 1px solid;
}
.menu-bur-ket {
  padding: 10px;
  border-top: 1px solid;
}
.w3-bar-block {
  width: 250px;
  transform: translateX(-100px);
}
.social-container{
  display: flex;
  width: 50%;
}
.social-icons {
  margin-left: 20px;
}

.fb-page {
  width: 700px !important;
}
.map-info-wrapper {
  position: fixed;
  width: 50%;
  height: 100%;
}
.map-info-container {
  display: flex;
  position: relative;
  float: left;
  width: 100%;
  height: 100%;
}
.info-container {
  display: flex;
  float: left;
  width: 50%;
  height: 100%;
  justify-content: center;
  align-items: center;
  background-color: #52b7e9;
}
a:link, a:visited {
  color: black;
}
.info-container-2{
  display: flex;
  color: white;
  width: 50%;
  height: 100%;
  justify-content: center;
  align-items: center;
  background-color: #46648c;
}
.map-container {
  display: flex;
  float: left;
  justify-content: center;
  align-items: center;
  margin: 0;
  left: 0;
}
.contact-info {
  display: grid;
  font-size: 20px;
  font-weight: bold;
}
.switch {
     position: relative;
     display: block;
     vertical-align: top;
     width: 100px;
     height: 30px;
     padding: 3px;
     margin: -10px 10px 10px 0;
     background: linear-gradient(to bottom, #eeeeee, #FFFFFF 25px);
     background-image: -webkit-linear-gradient(top, #eeeeee, #FFFFFF 25px);
     border-radius: 18px;
     box-shadow: inset 0 -1px white, inset 0 1px 1px rgba(0, 0, 0, 0.05);
     cursor: pointer;
   }
   .switch-input {
     position: absolute;
     top: 0;
     left: 0;
     opacity: 0;
   }
   .switch-label {
     position: relative;
     display: block;
     height: inherit;
     font-size: 15px;
     text-transform: uppercase;
     background: #165d31;
     border-radius: inherit;
     box-shadow: inset 0 5px 2px rgba(0, 0, 0, 0.12), inset 0 0 2px rgba(0, 0, 0, 0.15);
   }
   .switch-label:before, .switch-label:after {
     position: absolute;
     top: 50%;
     margin-top: -.5em;
     line-height: 1;
     -webkit-transition: inherit;
     -moz-transition: inherit;
     -o-transition: inherit;
     transition: inherit;
   }
   .switch-label:before {
     content: attr(data-off);
     right: 11px;
     color: white;
     text-shadow: 0 1px rgba(255, 255, 255, 0.5);
   }
   .switch-label:after {
     content: attr(data-on);
     left: 11px;
     color: #FFFFFF;
     text-shadow: 0 1px rgba(0, 0, 0, 0.2);
     opacity: 0;
   }
   .switch-input:checked ~ .switch-label {
     background: #E1B42B;
     box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15), inset 0 0 3px rgba(0, 0, 0, 0.2);
   }
   .switch-input:checked ~ .switch-label:before {
     opacity: 0;
   }
   .switch-input:checked ~ .switch-label:after {
     opacity: 1;
   }
   .switch-handle {
     position: absolute;
     top: 4px;
     left: 4px;
     width: 28px;
     height: 28px;
     background: linear-gradient(to bottom, #FFFFFF 40%, #f0f0f0);
     background-image: -webkit-linear-gradient(top, #FFFFFF 40%, #f0f0f0);
     border-radius: 100%;
     box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
   }
   .switch-handle:before {
     content: "";
     position: absolute;
     top: 50%;
     left: 50%;
     margin: -6px 0 0 -6px;
     width: 12px;
     height: 12px;
     background: linear-gradient(to bottom, #eeeeee, #FFFFFF);
     background-image: -webkit-linear-gradient(top, #eeeeee, #FFFFFF);
     border-radius: 6px;
     box-shadow: inset 0 1px rgba(0, 0, 0, 0.02);
   }
   .switch-input:checked ~ .switch-handle {
     left: 74px;
     box-shadow: -1px 1px 5px rgba(0, 0, 0, 0.2);
   }
   /* Transition
       ========================== */
   .switch-label, .switch-handle {
     transition: All 0.3s ease;
     -webkit-transition: All 0.3s ease;
     -moz-transition: All 0.3s ease;
     -o-transition: All 0.3s ease;
   }

@media only screen and (max-width: 1090px) {
  .nav-container {
    display: flex;
  }
  .menu-social-container {
    width: 100%;
    position: relative;
  }
  .menu-wrapper {
    width: 100%;
    display: grid;
    left: 0;
  }
  .menu-img {
    margin: 0;
    width: 100%;
    object-fit: fill;
    height: auto;
  }
  .map-container {
    width: 50%;
  }
  .img-01 {
    padding-top: 50px;
  }
}
@media only screen and (max-width: 1090px) {
  .social-container {
    display: none;
  }
}
@media only screen and (max-width: 1300px) {
  .info-container-2 {
    display: none;
  }
  .menu-wrapper {
    width: 150%;
  }
}
@media only screen and (max-height: 700px) {
  .nav-container {
    display: flex;
  }
  .menu-social-container {
    width: 100%;
    position: relative;
  }
  .menu-wrapper {
    width: 100%;
    display: grid;
    left: 0;
  }
  .menu-img {
    margin: 0;
    width: 100%;
    object-fit: fill;
    height: auto;
  }
  .map-container {
    width: 50%;
  }
  .img-01 {
    padding-top: 50px;
  }
  .info-container-2 {
    display: none;
  }
  .social-container {
    display: none;
  }
}
